/* Global Styles */
h1 {
    font-family: 'Lato', sans-serif;
}

/* Navbar Styles */
.navbar.navbar-light.navbar-expand-md.navigation-clean {
    padding: 0;
    height: 145px;
    overflow: hidden;
}

.logo {
    zoom: 25%;
    margin-bottom: 30px;
}

.nav-link {
    border: 1px solid white;
    font-size: 20px;
}

.nav-link:hover {
    border-bottom: 1px solid #00854c;
}

/* Splash Image Styles */
#splashImage {
    height: 90vh;
    background-image: url("../img/vlSplash.jpeg");
    background-position: center;
    background-size: cover;
    text-align: center;
}

#splashImage > h1 {
    margin-top: 200px;
    color: white;
    text-shadow: 2px 0 2px black;
    font-weight: bold;
    font-size: 65px;
}

#seeHowBtn {
    display: inline-block;
    margin-top: 20px;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px 30px;
}

#seeHowBtn:hover {
    cursor: pointer;
    box-shadow: 2px 1px 5px -1px black;
}

/* About Us Styles */
.aboutUsSection {
    min-height: 500px;
}

#aboutUsTextDiv {
    height: 600px;
    padding: 50px 100px;
    background: #a1bc52;
    color: white;
}

#aboutUsTextDiv > h1 {
    margin-bottom: 50px;
}

#aboutUsTextDiv > p {
    font-size: 22px;
    margin-bottom: 60px;
}

#aboutUsTextDiv > a {
    font-style: italic;
    color: white;
    font-size: 18px;
}

#aboutUsRightImage {
    height: 600px;
    background-image: linear-gradient(to left, transparent 75%, #a1bc52 100%), url("../img/aboutUsSunset.jpg");
    background-size: cover;
    background-position: center;
}


/* Services Section */
.serviceSection {
    padding: 30px 15px;
    text-align: center;
    color: #44586d;
}

.serviceSection > h1 {
    margin-bottom: 30px;
    padding: 10px 10px;
    border-bottom: .5px solid black;
    display: inline-block;
}

.serviceCol {
  margin-top: 80px;
  text-align: center;
  padding: 0;
}

.serviceCol > h3 {
    margin-bottom: 30px;
    font-family: 'Lato', sans-serif;
}

.serviceInfo {
    height: 650px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 3px 2px 4px -2px darkgray;
}

.serviceInfo > img {
    height: 135%;
    width: 100%;
    object-fit: cover;
    position: relative;
}

.serviceInfoText {
    display: none;
    position: absolute;
    top: 63px;
    height: 91.25%;
    background: rgba(161,188,82, 0.65);
    padding: 60px 0;
    font-size: 22px;
}

.serviceInfoText > p {
    color: #ececec;
    text-shadow: 1px 1px 8px black;
}

/* Contact Us Styles */
#contactUsSection {
    color: #44586d;
}

.formInput {
    height: 40px;
    width: 100%;
    display: block;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-left: 10px;
    font-size: 18px;
}

textarea {
    width: 100%;
    max-width: 100%;
    height: 100px;
    min-height: 100px;
    max-height: 250px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 18px;
    padding-left: 10px;
}

.formSubmit {
    background-color: green;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    float: right;
    margin-top: 15px;
}

.formSubmit:hover {
    cursor: pointer;
    box-shadow: 2px 1px 5px -1px black;
}

/* Footer Styles */
.footer-basic {
    box-shadow: 1px 1px 10px darkgray;
    margin-top: 50px;
}
